rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // 재고 메인 테이블
    match /all_data/{document} {
      allow read, write: if true;
    }

    // 홀딩 이력 테이블
    match /holding_data/{document} {
      allow read, write: if true;
    }
  }
}
